body {
    font-family: Arial, sans-serif;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

h1, h2 {
    color: #333;
}

#loginSection, #adminSection {
    margin-top: 20px;
}

form {
    margin-bottom: 10px;
}

button {
    cursor: pointer;
}

#loggedInUser {
    font-weight: bold;
    color: #007bff;
}

#allPatients {
    margin-top: 20px;
}

#patientsList {
    list-style-type: none;
    padding: 0;
}

#patientsList li {
    margin-bottom: 5px;
    cursor: pointer;
}
